body{
    text-align: center;
}
#container{
    text-align: center;
}
#container h1{
    font-family: Sentinel A, Sentinel B, Georgia serif;
    font-weight: 400;
    height: 1.15;
    color: #747474;
}

#container p:first-of-type{
    font-weight: 600;
    font-size: 16px;
    font-family: Graphik Semibold Web, Open Sans, Helvetica Neue, Helvetica, Arial serif;
    font-style: oblique;
    color: #5c5a5a;
}
#container p:last-of-type{
    font-family: Graphik Regular Web, Helvetica Neue, Helvetica, Arial sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#5c5a5a;
}