/* TODO: style the html */
section{
    position: absolute;
    top: 250px;
    left: 180px;
}
h3{
    font-size: 16px;
    padding: 0px;
}
span{
    padding-left: 3px;
    color: gray;
    font-size: 14px;    
    margin-bottom: 0px;
}

div{
    position: relative;
    top: -75px;
    left: 8px;
}